---
import "./ContentCard.scss";

interface Props {
  title: string;
  description: string;
  link: string;
  date: string;
}

const { title, description, link, date } = Astro.props;
const dateObj = new Date(date);
const dayAfter = new Date(dateObj);
dayAfter.setDate(dayAfter.getDate() + 1);
const formattedDate = dayAfter.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<div class="ContentCard">
  <div class="ContentCard__date">{formattedDate}</div>
  <div class="ContentCard__title">{title}</div>
  <p class="ContentCard__description">{description}</p>
  <a href={link}><button class="ContentCard__button">Learn More</button></a>
</div>
