---
import Main from "../Main/Main.astro";
import "./Thin.scss";

interface Props {
  title: string;
  description?: string;
  imageUrl?: string;
}

const { title, description, imageUrl } = Astro.props;
---

<Main title={title} description={description} imageUrl={imageUrl}>
  <div class="Thin">
    <slot />
  </div>
</Main>
