---
import { getCollection } from "astro:content";
import ContentCollection from "../components/ContentCollection/ContentCollection.astro";
import { default as Layout } from "../layouts/Thin/Thin.astro";
import "./index.scss";

const projects = await getCollection("projects");
---

<Layout title="Projects">
  <h1>Projects</h1>
  <p>Various personal and professional projects I've worked on.</p>
  <div style="margin-bottom: 1rem;"></div>
  <ContentCollection items={projects} />
</Layout>
