---
import { getCollection } from "astro:content";
import ContentCollection from "../components/ContentCollection/ContentCollection.astro";
import { default as Layout } from "../layouts/Thin/Thin.astro";
import "./index.scss";

const projects = await getCollection("projects");
---

<Layout title="Projects">
  <h3>Projects</h3>
  <ContentCollection items={projects} />
</Layout>
