---
import Thin from "../layouts/Thin/Thin.astro";
import "./student-to-software-engineer.scss";
---

<Thin title="Matthew MacRae-Bovell">
  <div class="Seminar">
    <div class="Seminar__title">Student To Software Engineer</div>
    <div style="margin-top:1.1rem"></div>
    <p class="Seminar__description">
      “Student To Software Engineer” is a seminar series designed to help
      students find their first development position.
    </p>
    <hr />
    <div style="margin-top:1.4rem"></div>
    <p>
      In today's job market, large tech layoffs, early-talent program closures,
      and developer saturation have made it more difficult then ever for
      students to find their first Software Development internships and
      full-time roles.
    </p>
    <p>
      This seminar series is designed to help students navigate the job market,
      make the most of university, and best leverage their time to find their
      first software position.
    </p>
    <hr />
    <div>Seminar #1: Why Are Students Struggling to Get Hired?</div>
    <div>Seminar #2: Maximizing Your University Opportunities</div>
    <div>Seminar #3: Selling Yourself With Zero Experience</div>
    <div>Seminar #4: Developer Skill Set Roadmap</div>
  </div>
</Thin>
